body {
  background-color: cornflowerblue;
  display: flex;
  justify-content: center;
  margin-top: 10vh;
  height: 100vh;
}

h2 {
  text-shadow: 0px 1px black;
}

#container {
  width: 400px;
  display: flex;
  flex-direction: column;
  color: white;
  font-family: sans-serif;
}

#pairs-list {
  margin: 0;
  color: #03188a;
  font-size: xx-large;
  list-style-type: square;
  padding-left: 25px;
}

textarea {
  padding: 10px;
  border-radius: 10px;
  border: none;
  box-shadow: 0px 0px 1px 0px black;
  box-shadow: 0px 3px 3px 0px #384fd0;
}

button {
  padding: 10px;
  border: none;
  border-radius: 10px;
  background: #3F51B5;
  color: white;
  font-weight: 100;
  box-shadow: 0px 5px 0px 0px #243386;
}

button:active {
  background-color: #3F51B4;
  box-shadow: 0 0px #243386;
  transform: translateY(4px);
}
